.container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & .field-create {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;

    /* & .error {
      grid-column: 1 / 4;
      color: red;
    } */
  }

  & .checkbox-container {
    display: grid;
    grid-template-columns: 10px 1fr;
    grid-gap: 15px;

    /* & .error {
      grid-column: 1 / 4;
      color: red;
    } */
  }

  & .field {
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-gap: 15px;

    & .error {
      grid-column: 1 / 4;
      color: red;
    }
  }
}
